// .container {
//   padding: 40px;
// }

.container {
    h2 {
        padding: 0 40px;
    }
}

.trendsList {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
}

.trendCard {
  margin: 0 10px;
  text-align: center;
}

.image {
  width: 200px;
  height: 200px;
}

.name {
  margin-top: 10px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .trendCard {
    flex-shrink: 0;
    min-width: 220px;
  }
}
